// 1. CONNECTED FONTS:
$default-fonts-path: '../your_path/fonts';
// Support: eot, woff2, woff, ttf, otf, svg
$fonts-format: woff2, woff, ttf;

$fonts:
// (Font_Name_Regular, '', '', normal),

// ! ('font_name', 'file_name', '/catalog', style, weight, stretch, unicode_range),
// ! ('font_name', remote, 'link_http'),
();

// 2. FAST LINKS:
$link-underline-height: 1px;
$link-transition: .1s ease-in-out;
$link-text-decoration: none;

$links-wrap:
// (n, class, #000, #ccc, left),

// ! (z_index, class_name, color, hover_color, *UD, name_template_class),
// ! *UD (Underline-Direction): left, right, center, none.
();

$links:
// (n, class, #000, #ccc, left),
();

// 3. BLOCKS:
$blocks:
// (n, class, 10px, 10px, r),

// ! (n, example-class, 100px, 40px, relative, 0, 0, name_template_class) or
// ! (n, example-class, 100px, 40px, r, name_template_class)
// ! (z_index, class_name, width, height, position, margin, padding, name_template_class)
();

// Connecting FM setting components
@import './app/constructor';
