// Links Constructor, Wrap (.class a {})
@each $link-z-index, $link-class-name, $link-color, $link-hover-color, $link-hover-animation, $link-template in $links-wrap {
  @if ($link-class-name != null) and ($link-z-index != null) {
    .#{$link-class-name} {
      a {
        @if ($link-template != null) {
          @if ($link-template == t) or ($link-template == null) {
            @extend %#{$link-class-name};
          } @else {
            @extend %#{$link-template};
          }
        } @else if ($link-hover-animation != none) or ($link-hover-animation != n) or ($link-hover-animation != '') {
          display: inline-block;
          position: relative;
          text-decoration: $link-text-decoration;

          &::after {
            @if ($link-hover-animation == left) {
              left: 0;
            } @else if ($link-hover-animation == right) {
              right: 0;
            } @else if ($link-hover-animation == center) {
              left: 50%;
              transform: translateX(-50%);
            }

            background-color: $link-hover-color;
            content: '';
            display: block;
            height: $link-underline-height;
            position: absolute;
            transition: width $link-transition;
            width: 0;
          }

          &:hover,
          &:focus {
            color: $link-hover-color;

            &::after {
              width: 100%;
            }
          }

          @if ($link-hover-animation != none) or ($link-hover-animation != n) or ($link-hover-animation != '') {
            border-bottom: $link-underline-height solid $link-color;
          }
        } @else {
          border-bottom: $link-underline-height solid $link-color;

          &:hover {
            color: $link-hover-color;
          }
        }

        color: $link-color;

        @if ($link-transition != none) or ($link-transition != '') or ($link-transition != n) {
          transition: $link-transition;
        }

        @if ($link-z-index != none) and ($link-z-index != n) and ($link-z-index != '') {
          z-index: $link-z-index;
        }

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

// Links Constructor, Single (a {})
@each $link-z-index, $link-class-name, $link-color, $link-hover-color, $link-hover-animation, $link-template in $links {
  @if ($link-class-name != null) or ($link-z-index != null) {
    .#{$link-class-name} {

      @if ($link-template != null) {
        @if ($link-template == t) or ($link-template == null) {
          @extend %#{$link-class-name};
        } @else {
          @extend %#{$link-template};
        }
      } @else if ($link-hover-animation != none) or ($link-hover-animation != n) or ($link-hover-animation != '') {
        display: inline-block;
        position: relative;
        text-decoration: $link-text-decoration;

        &::after {
          @if ($link-hover-animation == left) {
            left: 0;
          } @else if ($link-hover-animation == right) {
            right: 0;
          } @else if ($link-hover-animation == center) {
            left: 50%;
            transform: translateX(-50%);
          }

          background-color: $link-hover-color;
          content: '';
          display: block;
          height: $link-underline-height;
          position: absolute;
          transition: width $link-transition;
          width: 0;
        }

        &:hover,
        &:focus {
          color: $link-hover-color;

          &::after {
            width: 100%;
          }
        }

        @if ($link-hover-animation != none) or ($link-hover-animation != n) or ($link-hover-animation != '') {
          border-bottom: $link-underline-height solid $link-color;
        }
      } @else {
        border-bottom: $link-underline-height solid $link-color;

        &:hover {
          color: $link-hover-color;
        }
      }

      color: $link-color;

      @if ($link-transition != none) or ($link-transition != '') or ($link-transition != n) {
        transition: $link-transition;
      }

      @if ($link-z-index != none) and ($link-z-index != n) and ($link-z-index != '') {
        z-index: $link-z-index;
      }

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
