// Div Blocks Constructor
@each $block-class-name, $block-z-index, $block-width, $block-height, $block-position, $block-margin, $block-padding, $block-template in $div-blocks {

  @if ($block-class-name != null) {
    .#{$block-class-name} {
      // @extend %#{$block-template};
      // height: $block-height;
      // margin: $block-margin;
      // padding: $block-padding;
      // position: $block-position;
      // width: $block-width;
      // z-index: $block-z-index;

      @if ($block-template != null) {
        @extend %#{$block-template};
      } @if ($block-height != none) and ($block-height != n) and ($block-height != '') {
        height: $block-height;
      } @if ($block-margin != none) and ($block-margin != n) and ($block-margin != '') {
        margin: $block-margin;
      } @if ($block-padding != none) and ($block-padding != n) and ($block-padding != '') {
        padding: $block-padding;
      } @if ($block-position != none) and ($block-position != n) and ($block-position != '') {
        position: $block-position;
      } @if ($block-width != none) and ($block-width != n) and ($block-width != '') {
        width: $block-width;
      } @if ($block-z-index != none) and ($block-z-index != n) and ($block-z-index != '') {
        z-index: $block-z-index;
      }

    }
  }
}
